# Environment
NODE_ENV=development

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pet_adoption
POSTGRES_USER=some_user
POSTGRES_PASSWORD=some_pass

# Ports
PORT=3000
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5175

# Authentication
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=some_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

#first port for the postgres database
#second port for the backend server
#third port for the frontend server 
#JWT_SECRET is used for signing and verifying JSON Web Tokens (JWTs) in the auth process

# Email
MAIL_USER=petadoptionsystem2000@gmail.com
MAIL_PASSWORD=some_email_password

# OAuth
GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_CALLBACK_URL=http://petopia:3000/auth/google/callback