# Environment
NODE_ENV=development

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pet_adoption
POSTGRES_USER=some_user
POSTGRES_PASSWORD=some_pass

# Ports
PORT=3000
FRONTEND_PORT=5173

# Authentication
JWT_SECRET=change_me_in_production

#first port for the postgres database
#second port for the backend server
#third port for the frontend server 
#JWT_SECRET is used for signing and verifying JSON Web Tokens (JWTs) in the auth process