.env
.env.*
!.env.example

node_modules/
dist/
coverage/
.DS_Store
.vscode/

*.log
*.tsbuildinfo

shared/**/*.js
shared/**/*.d.ts
shared/**/*.js.map

Backend/**/*.js
Backend/**/*.d.ts
Backend/**/*.js.map
Backend/dist/

Backend/uploads/
backups/uploads/
Frontend/dist/
Frontend/build/
Frontend/.vite/
Frontend/src/**/*.js
Frontend/src/**/*.jsx
Frontend/src/**/*.js.map
Frontend/src/**/*.css.map

backups/*.dump
backups/*.log